<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
      <title>Log-in</title>
      <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'login/css/login_style.css' %}"/>
      <link href="{% static 'login/css/bootstrap.min.css' %}" rel="stylesheet">
  </head>

  <body>
  <div class="big-container">
      <div class="login-card">
          <h1>OCL-MANAGER</h1><br>
          <form action="services">
              <input type="text" name="user" placeholder="Nombre de usuario">
              <input type="password" name="pass" placeholder="Contraseña">
              <input type="submit" name="login" class="login login-submit" value="login">
          </form>
          <div class="login-help">
              <a href="#">Solicitar usuario de ingreso</a>
              <a href="#">¿Olvido su usuario o contraseña?</a>
          </div>
      </div>
      <div class="main-services-container">
          <h1>Servicios disponibles</h1><br>
          <a href="{% url 'services' %}">Acceder a servicios <span class="glyphicon glyphicon-arrow-right"></span></a>
      </div>
      <br style="clear: left;"/>
  </div>
  <!-- Scripts-->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    
    
    
  </body>
</html>
