<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <link rel="stylesheet" href="../static/login/css/login_style.css">
      <title>OCL-MANAGER Services</title>

    <!-- Bootstrap -->
    <link href="../gestor_ocl/static/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <h1>Servicios</h1>
    <div id='cssmenu'>
        <ul>
            <li class='active'><a href='{% url 'index' %}'><span>Inicio</span></a></li>
            <li><a href='#'><span>Servicios</span></a></li>
            <li><a href='#'><span>Usuarios</span></a></li>
            <li class='last'><a href='#'><span>Ontologia</span></a></li>
        </ul>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../gestor_ocl/static/js/bootstrap.min.js"></script>
  </body>
</html>