<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Visor de la ontología</title>
</head>
<body>
    <div style="float: left">
        <h2>Resultados de la consulta:</h2>
            <select size="5">
                {% for text in query1 %}
                    <option value={{ text }}>{{ text }}</option>
                {% endfor %}
            </select>
        <h2>El contenido de la ontología es:</h2>
            <select size="5">
                {% for text in content %}
                    <option value={{ text }}>{{ text }}</option>
                {% endfor %}
            </select>
    </div>
    <div style="float: left; padding-left: 3%">
        <h2>Los elementos de un perfil de cargo son:</h2>
            <select size="5">
                {% for text in perfiles %}
                    <option value={{ text }}>{{ text }}</option>
                {% endfor %}
            </select>
        <h2>Los tipos de cargos son:</h2>
            <select size="5">
                {% for text in cargos %}
                    <option value={{ text }}>{{ text }}</option>
                {% endfor %}
            </select>
    </div>
    <div style="float: left; padding-left: 3%">
        <h2>Unos detalles de un perfil de cargo:</h2>
            <select size="5">
                {% for text in unPerfil %}
                    <option value={{ text }}>{{ text }}</option>
                {% endfor %}
            </select>
    </div>
</body>
</html>